<header>
{# -STYLE------------------------------------------- #}
<style>
	body>header {

		height: 7rem;
		border: solid red 1px;

		display: flex;
/*		justify-content: space-between;*/
		align-items: center;	

		a#header-logo {

			display: flex;
			flex-direction: column;
			align-items: center;

			img {
				width: 7.8rem;
				border: solid 1px black;
/*				scale: 90%;*/
			}
		}
		
		nav#header-nav {

			border: solid 1px green;

			position: fixed;
			top: 7rem;
			right: -11rem;
			z-index: 100;

			background-color: var(--main-bg-color);
			opacity: .75;

			display: flex;
			flex-direction: column-reverse;

			transition: 0.5s right;
			&.open {
				transition: 0.5s all;
				right: 0;
			}

			a {
				width : fit-content;
				margin: 1rem;
			}
			
			menu {
				margin: 0;
				padding: 0;

				li {
					margin: 1rem;
				}
			}
		}
		
}
@media screen and (min-width: 700px) {
	body>header {

		display: flex;

		nav#header-nav {

			width: calc(100vw - 8rem);
			
			position: relative;
			right: unset;
			top: unset;

			display: flex;
			flex-direction: row;
			align-items: center;

			a {
				width : fit-content;
				margin: 1rem;
			}

			menu {
				position: absolute;
				right: 0;
			}

		}
	}
}			

</style>
{# ------------------------------------------------- #}

{# -HTML-------------------------------------------- #}

	<a id="header-logo" href="/">
		<img src="image/logo-text.png" alt="retrovision">
		<img src="image/logo.png" alt="logo">
		
		<h1 hidden>retroVision</h1>
	</a>
	
	<nav id="header-nav">
		<a hx-get="/home"
			hx-trigger="click"
			hx-target="main"
			hx-swap="outerHTML"
			hx-push-url="true"
		>Home</a>

		<a hx-get="/recent"
			hx-trigger="click"
			hx-target="main"
			hx-swap="outerHTML"
			hx-push-url="true"
		>Recent</a>
		
		<a hx-get="/favorite"
			hx-trigger="click"
			hx-target="main"
			hx-swap="outerHTML"
			hx-push-url="true"
		>Favorite</a>
	
		{% include 'header/search.html.twig' %}

		<menu>
			<li><a href="/login">Log in</a></li>
		</menu>
	</nav>
	

	{% include 'header/burger.html.twig' %}
{# ------------------------------------------------- #}

{# -JAVASCRIPT-------------------------------------- #}
<script>

</script>
{# ------------------------------------------------- #}
</header>