<header>
{# -STYLE------------------------------------------- #}
<style>
	header {

		height: 7rem;
		border: solid red 1px;

		display: flex;
/*		justify-content: space-between;*/
		align-items: center;	

		a#header-logo {

			display: flex;
			flex-direction: column;
			align-items: center;

			img {
				width: 7.8rem;
				border: solid 1px black;

/*					scale: 90%;*/
			}
		}
		
		div#header-links {

			
			border: solid 1px green;

			position: fixed;
			top: 7rem;
			right: -11rem;

			background-color: var(--main-bg-color);

			display: flex;
			flex-direction: column-reverse;

			transition: 0.5s right;
			&.open {
				transition: 0.5s all;
				right: 0;
			}

			ul, menu {
				margin: 0;
				padding: 0;

				li {
					margin: 1rem;
				}
			}
		}
}
@media screen and (min-width: 700px) {
	header {
		
		div#header-links {

			width: calc(100vw - 8rem);
			
			position: unset;
			right: unset;
			top: unset;

			flex-direction: row;
			justify-content: space-between;

			ul {
				display: flex;
			}
		}
	}
}			

</style>
{# ------------------------------------------------- #}

{# -HTML-------------------------------------------- #}

	<a id="header-logo" href="/">
		<img src="image/logo-text.png" alt="retrovision">
		<img src="image/logo.png" alt="logo">
		
		<h1 hidden>retroVision</h1>
	</a>
	

	<div id="header-links">
		
		<nav>
			<ul>
				<li><a hx-post="/home"
    						hx-trigger="click"
    						hx-target="main"
    						hx-swap="outerHTML"
					>
						Home
				</a></li>
				<li><a hx-post="/recent"
    						hx-trigger="click"
    						hx-target="main"
    						hx-swap="outerHTML"
					>
						Recent
				</a></li>
	    		<li><a hx-post="/favorite"
    						hx-trigger="click"
    						hx-target="main"
    						hx-swap="outerHTML"
					>
						Favorite
				</a></li>
	    		
			</ul>
		</nav>

		{% include 'header/search.html.twig' %}

		<menu>
			<li><a href="/login">Log in</a></li>
		</menu>
	
	</div>

	{% include 'header/burger.html.twig' %}
{# ------------------------------------------------- #}

{# -JAVASCRIPT-------------------------------------- #}
<script>

</script>
{# ------------------------------------------------- #}
</header>