<search>
{# -STYLE------------------------------------------- #}
<style>
	search {
/*		display: none;*/

		position: fixed;
		top: 2.25rem;
		right: 8rem;

		overflow: hidden;
		
		display: flex;

		button#search-glass {
			margin-right: .7rem;
			color: var(--select-text-color);
			background-color: var(--light-bg-color);
		}

		form {
			width: calc(100vw - 16rem );

			display: flex;

			input {
				width: 100%;
				background-color: var(--light-bg-color);
			}

			transition-duration: 0.5s;
			translate: calc(100vw - 19rem);
		}

		form.open {
			translate: 0;
		}

		button#search-cross {
			position: absolute;
			right: .3rem;
			top: .3rem;

			background: transparent;
			border: none;
		}
	}
@media screen and (min-width: 700px) {
    search {
    	form {
    		width: calc(100vw - 58rem );
    		translate: calc(100vw - 61rem);
    	}
    }   
}
</style>
{# ------------------------------------------------- #}

{# -HTML-------------------------------------------- #}
<form action="">
	<button id="search-glass" type="button">Q</button>
	<label for="search-input" hidden>Find a Movie</label>
	<input type="search" id="search-input" name="search" placeholder="Find a Movie">
	<button id="search-cross" type="reset">X</button>
</form>	
{# ------------------------------------------------- #}

{# -JAVASCRIPT-------------------------------------- #}
<script>
	// Click in
	FORM = document.querySelector('search form');
	GLASS = document.querySelector('search button#search-glass');
	GLASS.addEventListener('click',()=>{
  		FORM.classList.toggle('open');
	});
	// Click out
	INPUT = document.querySelector('search input');
	CROSS = document.querySelector('search button#search-cross');
	CROSS.addEventListener('click',()=>{
  		if (INPUT.value == ''){
  			FORM.classList.remove('open');
  		}
	});
</script>
{# ------------------------------------------------- #}
</search>