{layout '../layout.latte'}

{block content}
<article>
    <header>
        <strong>Profile</strong>
    </header>
    <p>
        <strong>Username:</strong> {$user->username}<br>
        <strong>Email:</strong> {$user->email}
    </p>
    <footer>
        <a href="/logout" role="button" class="secondary">Logout</a>
    </footer>
</article>
{/block}
