<main>
{# -STYLE------------------------------------------- #}
<style>
main {
    
    section {
        border: solid 1px purple;

        position: relative;

        h2 {
            width: 100%;
            height: 2rem;
            margin: 1rem 0;
            user-select: none;

        }

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;


        article {
            border: solid 1px green;

/*            height: 25rem;*/
            width: 17rem;
            aspect-ratio: 9/16;
            margin: 1rem;

            display: flex;
            flex-direction: column-reverse;

            h3 {
/*                position: absolute;*/
                bottom: 1rem;
                left: 1rem;
                user-select: none;

                margin: 0;
            }
        }
    }
}

    
</style>
{# ------------------------------------------------- #}

{# -HTML-------------------------------------------- #}


    <section>
        <h2>Category_name</h2>

        {% for film in films %}
            
        <article 
            onclick="showFilmInDialog(event)";
            data-test= "{{film.title}}";

            hx-post="/video=123456789h"
    		hx-trigger="click"
    		hx-target="dialog"
    		hx-swap="innerHTML"
        >
            <h3>{{film.title}}</h3>
            <img src={{film.poster}}>
        </article>

       {% endfor %}

    </section>
    <dialog>

    </dialog>

{# ------------------------------------------------- #}

{# -JAVASCRIPT-------------------------------------- #}
<script>

function showFilmInDialog(event) {
    const DIALOG_ELEMENT = document.querySelector('dialog');
    const ARTICLE_ELEMENT = event.target.closest('article');

    const INFO_TEST = ARTICLE_ELEMENT.dataset.test

    // console.log(INFO_TEST);
    DIALOG_ELEMENT.showModal();
}

</script>
{# ------------------------------------------------- #}
</main>