<footer>
{# --------------STYLE------------------------------ #}
	<style>	
		footer {


	
		}
	</style>
{# ------------------------------------------------- #}



{# -------------HTML-------------------------------- #}

	<h4>footer</h4>



	
{# ------------------------------------------------- #}
</footer>